version: "3.8"

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - C:/ProgramData/DockerDesktop/version-bin/docker.exe:/usr/bin/docker
    networks:
      - jenkins-net

  nginx:
    image: nginx:latest
    container_name: webhook-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - jenkins-net

networks:
  jenkins-net:

volumes:
  jenkins_home:
